.headerBlock {
  background: url("https://tesla.com/ns_videos/model-3-social.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
}

.headerBlock__info {
  display: flex;
  flex-direction: column;
  height: 360px;
}

.headerBlock__info--text {
  text-align: center;
  flex: 1;
}

.headerBlock__info--text > h1 {
  color: #393c41;
  font-weight: 600;
  font-size: 38px;
}

.headerBlock__info--text > h4 {
  font-weight: 600;
  font-size: 15px;
  color: #5c5e62;
}

.headerBlock__info--text > h4 > span {
  padding-bottom: 4px;
  padding-top: 15px;
  border-bottom: 1px solid black;
  color: #393c41;
  cursor: pointer;
}

.headerBlock__info--text > h4 > span:hover {
  border-bottom-width: 2px;
  color: black;
}

.headerBlock__actions {
  margin-top: 330px;
  display: flex;
  gap: 20px;
}

.headerBlock__actions > button {
  cursor: pointer;
  border: none;
  width: 260px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}

.headerBlock__buttonPrimary {
  background-color: #393c41;
  color: white;
  opacity: 0.9;
}

.headerBlock__buttonSecondary {
  background-color: white;
  color: black;
  opacity: 0.8;
}

/*

  MEDIA QUERY

*/

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .headerBlock {
    overflow: hidden;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  html {
    overscroll-behavior: none;
  }
  .headerBlock__info {
    width: 100%;
    max-width: 300px;
  }
  .headerBlock__info--text > h1 {
    font-size: 24px;
  }
  .headerBlock__info--text > h4 {
    font-size: 14px;
  }
  .headerBlock__actions {
    margin-top: 10px;
  }
  .headerBlock__actions > button {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
  }
}
